body {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2em;
}

ul {
  padding-left: 1.5em;
}

li {
  margin: 1em 0;
}

.a4-paper {
  width: 70.7vh;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 3em;
  color: #333;
  font-size: 1.5vh;
  font-family: "Inter", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#name {
  text-align: center;
}

#name > * {
  margin: 0;
}

#main {
  display: flex;
  flex-direction: column;
}

#main > section > h3 {
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #333;
}

.record > h4 {
  display: flex;
  justify-content: space-between;
}

