body {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
}

.a4-paper {
  width: 70.7vh;
  height: 100vh;
}

#container {
  display: flex;
  height: inherit;
  font-size: 1.5vh;
  font-family: "Inter", sans-serif;
}

#container ul {
  padding-left: 1.5em;
}

.no-bullet {
  padding: 0 !important;
  list-style-type: none;
}

.content {
  width: 80%;
}

.content > * {
  margin: 5vh auto;
}

.content > section > h3 {
  border-bottom-width: 0.2vh;
  border-bottom-style: solid;
}

#left {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #036;
  color: #ccc;
}

#left > .content > section > h3 {
  border-bottom-color: #ccc;
}

#left > .content > section > ul > li {
  margin: 1vh auto;
}

#right {
  flex: 2;
  display: flex;
  justify-content: center;
  color: #036;
}

#right > .content > section > h3 {
  border-bottom-color: #036;
}

#name > * {
  margin: 0;
}

#name > h1 {
  font-size: 6vh;
}

